<!DOCTYPE html>
<html>

<head>
    <title>Descomposicion LU</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/descompositionLU.css' %}">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
</head>
<script>
        //aqui se llamaran a los archivos que haran logica de js
</script>

<body>
    <h3>Descomposicion LU</h3>
    <form name="" id="">
        <select id="metodo" name="metodo">
            <option value="gauss" selected>Metodo Gauss Seindel (Puntos iniciales 0)</option>
            <option value="choleski">Metodo choleski</option>
            <option value="crout">Metodo crout</option>
            <option value="cramer">Metodo cramer</option>
        </select>
        <select id="orderMatrix" name="orderMatrix">
            <option value="3" selected>Matrix 3x3</option>
            <option value="4">Matrix 4x4</option>
            <option value="5">Matrix 5x5</option>
        </select>
        <div id="contenedorMatrix">
            <input id="x0" name="x0">
        </div>
        <h3>Matriz Constante: </h3>
        <div id="matrixConstante">
            <input id="c0" name="c0">
        </div>
        <!-- <button name="sendDataButton" id="sendDataButton">SendData</button> -->
    </form>
    <button name="utilButton" id="utilButton">SendData</button>
    <br>

    <button onclick=asd()>
        Mensajes Recibidos
    </button>

    <br><br>
    <pre id="respuesta">Lista: </pre>
    <br>
    <div id='answere1'></div>

</body>
<script src="{% static 'teo2/matrixLU.js' %}" type="module">

        //code 
</script>
<script>
    function asd() {
        tam = 3
        var table = "<table id='answere1'>";

        let h = 1;
        let l = 1;

        for (let i = 0; i < tam; i++) {
            table += '<tr>';
            for (let j = 0; j < tam; j++) {
                table += '<td>';
                table += '<div>';
                table += '<label>';
                table += '<input type="number" maxlength="3" size="3" id="x' + h + '" style="width : 100px;" ></input>'
                table += '</label>';
                table += '</div>';
                table += '</td>';
                h++;
            }

            table += '<td>';
            table += '<div>';
            table += '='
            table += '</div>';
            table += '</td>';

            table += '<td>';
            table += '<div>';
            table += '<input type="number" maxlength="3" size="3" id="c' + l + '" style="width : 100px;" ></input>'
            table += '</div>';
            table += '</td>';
            l++;

            table += '</tr>';
        }

        table += "</table>";

        /*
    
        for(key in row){
            table += '<th>';
            table += key;
            table += '</th>';
        }
        table += '</tr>';
        for(var i in datos){
            table += '<tr>';
            row = datos[i];
            for(key in row){
                table += '<td>';
                table += row[key];
                table += '</td>';
            }
            table += '</tr>';
        }
        table += "</table>";
        */
        console.log(table)
        document.getElementById("answere1").innerHTML = table;
    }

</script>

</html>