<!DOCTYPE html>
<html>
    <head>
        <title>Encontrar Raices con pasos</title>
    </head>
    <script>
        //aqui se llamaran a los archivos que haran logica de js
    </script>
    <body>
        <h3>Aqui se pondra datos de que hace esta pagina</h3>
        <ol>
            <li>
                <a href="{% url 'inputdata' %}">input los Datos</a>
            </li>
            <li>
                <a href="{% url 'passdata' %}">output de los Datos</a>
            </li>
        </ol>
        
    </body>
</html>