<!DOCTYPE html>
<html>
    <head>
        <title>Encontrar Raices con pasos</title>
        <!-- Si quieren lo quitan evita que se guarde en cache archivo
        yo lo necesitaba para que este actualizado mis cambios de JS -->
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
         
    </head>
    <script>
        //aqui se llamaran a los archivos que haran logica de js
    </script>
    <body>
        <h3>Aqui se pondra datos de que hace esta pagina</h3>
        <ol>
            <li>
                <a href="{% url 'inputdata' %}">INPUT los Datos de rootFinding</a>
            </li>
            <li>
                <a href="{% url 'passdata' %}">OUTPUT de los Datos de RootFinding(talvez pueda ser outpurt de descompistionLU)</a>
            </li>
            <li>
                <a href="{% url 'inputLU' %}">INPUT de los Datos de decomposition LU</a>
            </li>
            <li>
                <a href="{% url 'resultLU' %}">OUTPUT de los Datos de decomposition LU</a>
            </li>
            <!-- inputMinSquare -->
            <li>
                <a href="{% url 'inputMinSquare' %}">INPUT para el metodo de Minimos Cuadrados</a>
            </li>
        </ol>
        
    </body>
</html>