<!DOCTYPE html>
<html>

<head>
    <title>Encontrar Raices con pasos</title>
    {% load static %}
</head>

<body>
    <h3>Aqui se recibiran los datos</h3>
    <form>
        <label for="tipo" > Metodo a usar: </label>
        <select name="method" id="method">
            <option value="bairstow">Metodo bairstow</option>
            <option value="muller">Metodo Muller</option>
            <option value="newton">Metodo Newton Raphson</option>
        </select>

        <select name="coef" id="coeficientes">
            <option value="1" selected>1 variable</option>
            <option value="2">2 variables</option>
            <option value="3" >3 variables</option>
            <option value="4">4 variables</option>
            <option value="5">5 variables</option>
            <option value="6">6 variables</option>
            <option value="7">7 variables</option>
            <option value="8">8 variables</option>
            <option value="9">9 variables</option>
            <option value="10">10 variables</option>
        </select>
        <div id="inputBoxes">
            <label for="x1">X1: </label>
            <input type="text" name="x1">
            <!--
                    Esto ahoremos de acuerdo al numero
                    <label for="x1">X1: </label>
                    <input type="text" name="x1">
                -->
        </div>
        
    </form>
    <button onclick="accion()">Click me</button>
    <img src="{% static 'deepForest.jpg' %}" width="200 px">

</body>

<script src="{% static 'main.js' %}" type="module">
        //aqui se llamaran a los archivos que haran logica de js
</script>

</html>