<!DOCTYPE html>
<html>
<head>
    <title>Encontrar Raices con pasos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rootFinding.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
</head>
<script>
    //aqui se llamaran a los archivos que haran logica de js
</script>
<body>
    <header id=" header" class="fixed-top">
        <div class="container">
            <div class="logo float-left">
                <h1>Métodos Numéricos</h1>
            </div>
            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'inputMinSquare' %}">Interpolación</a></li>
                    <li><a href="{%url 'inputLU' %}">Sistema de Ecuaciones</a></li>
                    <li><a href="{% url 'inputdata' %}">Raices de Ecuaciones</a></li>
                    
                </ul>
            </nav>
            <!-- .main-nav -->
    
        </div>
    </header>
        <!-- #header -->


    <div class="container">
        <div class="inputData">
            <h3>Aqui se recibiran los datos</h3>
            <form>
                <div class="formGroup">
                    <label for="tipo"> Metodo a usar: </label>
                    <select name="method" id="method">
                        <option value="bairstow" selected>Metodo bairstow</option>
                        <option value="muller">Metodo Muller</option>
                        <option value="newton">Metodo Biseccion</option>
                    </select>

                </div>

                <div class="formGroup" id="initialGuesses">
                    <label for="var1">Variable 01: </label>
                    <input type="text" name="var1">
                </div>

                <div class="formGroup">
                    <select name="coef" id="coeficientes">
                        <option value="1" selected>1 variable</option>
                        <option value="2">2 variables</option>
                        <option value="3">3 variables</option>
                        <option value="4">4 variables</option>
                        <option value="5">5 variables</option>
                        <option value="6">6 variables</option>
                        <option value="7">7 variables</option>
                        <option value="8">8 variables</option>
                        <option value="9">9 variables</option>
                        <option value="10">10 variables</option>
                    </select>
                </div>

                <div id="inputBoxes" class="formGroup formGroup--variable">
                    <div class="inputBoxes">

                        <!-- <label for="x1">X1: </label>
                        <input type="text" name="x1"> -->

                    </div>
                </div>

            </form>
            <div class="">
                <button class="button" id="sendButton">Resolver</button>
            </div>

        </div>
        <div class="graphic">
            {% if graph %}
            {{graph|safe}}
            {% else %}
            <p> Aun no hay grafico!!</p>
            {% endif %}
        </div>
        <div class="result">

            {% if method %}
            <section>
                <h2>Solucion, por el metodo {{method}}</h2>
                <section class="resolucion">
                    <p style="white-space: pre-wrap;"> {{output}} </p>
                </section>
            </section>
            {% else %}
            <p>Mande los datos!
            </p>
            {% endif %}

        </div>
    </div>
</body>
<!-- <script src="{% static 'inputData.js' %}">

</script> -->
<script src="{% static 'main.js' %}" type="module">
        //aqui se llamaran a los archivos que haran logica de js
</script>

</html>