<!DOCTYPE html>
<html>
    <head>
        <title>Minimos Cuadrados Calculadora</title>
        {% load static %}
        
    
    </head>
    <body>
        
        <h1>Minimos Cuadrados Calculadora Input</h1>

        <section class="inputZone">

            <form class="inputForm">
                <label for="method">Metodo : </label>
                <select id="method" name="method">
                    <option value="minSquare"> Minimos Cuadrados  </option>
                    <option value="difDivididas">Diferencias Divididas</option>
                    <option value="lagra">Lagrange</option>
                </select>
                <label for="inputRows">Ingrese el numero de elementos:  </label>
                <input type="number" id="inputRows" placeholder="Numero de filas" maxlength="30" minlength="2">
                <section id="sectionInputGeneral">
                    <div id="inputsX">
                        <div>
                            <label>
                                Hello Friend:<input type="number" >
                            </label>
                        </div>
                    </div>
                    <br>
                    <div id="inputsY">
    
                    </div> 
                </section>
            </form>
            <button   id="sendButton">Resolver!!</button>
        </section>
    </body>

    <script src="{% static 'teo3/inputMinSquare.js' %}" type="module"></script>

</html>