<!DOCTYPE html>
<html>
    <head>
        <title>Encontrar Raices con pasos</title>
    </head>
    <script>
        //aqui se llamaran a los archivos que haran logica de js
    </script>
    <body>
        <h3>Aqui se pasaran los datos</h3>

        <section>
            <h2>Solucion, por el metodo {{method}}</h2>
            <section class="resolucion">
                <p style="white-space: pre-wrap;"> {{output}} </p>
            </section>
        </section>









        <!-- <table>
            <thead>
                <th>Nro Iteracion</th>
                <th>delta0</th>
                <th>delta1</th>
                <th>f(x0)</th>
                <th>f(x1)</th>
                <th>f(x2)</th>
                <th>f(x3)(next)</th>    
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>112312</td>
                    <td>1e2131</td>
                    <td>1321321</td>
                    <td>132</td>
                    <td>213,eqwe1</td>
                    <td>1t4245</td>
                    <td>14324532.4545</td>
                </tr>
            </tbody>
        </table> -->

    </body>
</html>