/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
}


a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #0b6bd3;
    outline: none;
    text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #ff7d56;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}
section{
  padding-top: 100px;
}


.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.manual{
  margin-top:60px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 30px;
  margin-left: 10px;
  padding: 5px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #166f00;
  text-decoration: none;
}

#header .logo img {
  margin: 0px 10px 0px 0px;
  max-height: 35px;
}

.main-pages {
  margin-top: 10px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: right;
}

.main-nav a {
  display: block;
  position: relative;
  color: #000000;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}


/*
Aqui css, del home, algun parrafo 
de que hace esta pagina, unas imagenes de los emtodos usados, 
ya saben xd, etc....

*/